.promo{
    height: 100vh;
    // position: relative;
    background-image: url('./main__bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__container{
        width: 1320px;
        margin: 0 auto;
    }
    &__center{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &__wrapper{
        width: 650px;
        // margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__title{
        position: relative;

        margin-top: 10px;
    }
    &__subtitle{
        position: relative;
        padding-left: 10px;
        z-index: 2;
        &::before{
            content: '';
            position: absolute;
            z-index: -1;
            top: -25%;
            left: 0;
            width: 36px;
            height: 36px;
            border-radius: 100%;
            background: #8FBC8F;
        }
    }
    &__btn{
        margin-top: 10px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
        a{
            scroll-behavior: smooth;
        }
    }
    &__link{
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        &:hover{
            color: #000000;
        }
    }
}

@media (max-width: 1400px) {
    .promo{
        &__container{
            width: 1140px;
        }
    }
}
@media (max-width: 1200px) {
    .promo{
        &__wrapper{
            width: 530px;
        }
        &__container{
            width: 960px;
        }
    }
}
@media (max-width: 992px) {
    .promo{
        &__container{
            width: 720px;
        }
    }
}
@media (max-width: 768px) {
    .promo{
        &__wrapper{
            width: 530px;
        }
        &__container{
            width: 540px;
        }
    }
}
@media (max-width: 576px) {
    .promo{
        &__container{
            width: 400px;
        }
        &__wrapper{
            width: 330px;
        }
        &__link{
            font-size: 12px;
        }
    }
}
@media (max-width: 425px) {
    .promo{
        &__btn{
            margin-top: 30px;
        }
        &__wrapper{
            width: 280px;
        }
        &__container{
            width: 100vw;
        }
    }
}



