.hamburger{
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 50px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-end;
    span{
        width: 60px;
        height: 6px;
        background: #ffffff;
    }
}

@media (max-width: 1400px) {
   .hamburger{
       span{
           width: 55px;
       }
   }
}
@media (max-width: 1200px) {
    .hamburger{
        span{
            height: 5px;
        }
    }
}
@media (max-width: 992px) {
    
}
@media (max-width: 768px) {
    .hamburger{
        right: 30px;
        span{
            height: 4px;
            width: 50px;
        }
    }
}
@media (max-width: 576px) {
    .hamburger{
        height: 35px;
        span{
            width: 45px;
        }
    }
}
@media (max-width: 425px) {
    .hamburger{
        span{
            width: 40px;
        }
    }
}