.skills{
    padding-top: 126px;
    &__container{
        width: 1320px;
        margin: 0 auto;
    }
    &__skills{
        position: relative;
        text-align: center;
        &::before{
            content: '';
            position: absolute;
            z-index: -1;
            top: -25%;
            left: 551px;
            width: 36px;
            height: 36px;
            border-radius: 100%;
            background: #8FBC8F;
        }
    }
    &__subtitle{
        text-align: center;
        &::after{
            content: '';
            display: block;
            width: 60px;
            height: 3px;
            background-color: #8fbc8f;
            margin: 0 auto;
            margin-top: 25px;
        }
    }
    &__img{
        width: 70px;
        height: 70px;
    }
    &__wrapper{
        margin-top: 60px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 270px);
        grid-auto-flow: row;
        gap: 20px;
    }
    &__item{
        border: 1px solid #000000;
        padding: 38px 29px 25px 30px;
    }
    &__title{
        margin-top: 20px;
        font-weight: bold;
        font-size: 14px;
    }
    p{
        margin-top: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
}

@media (max-width: 1400px) {
    .skills{
        &__container{
            width: 1140px;
        }
    }
}
@media (max-width: 1200px) {
    .skills{
        &__container{
            width: 960px;
        }
        &__wrapper{
            grid-template-columns: repeat(3, 270px);
        }
    }
}
@media (max-width: 992px) {
    .skills{
        padding-top: 40px;
        &__container{
            width: 720px;
        }
        &__wrapper{
            grid-template-columns: repeat(3, 230px);
            gap: 10px;
        }
        &__item{
            padding: 25px 20px 20px 20px;
        }
    }
}
@media (max-width: 768px) {
    .skills{
        &__container{
            width: 540px;
        }
        &__wrapper{
            grid-template-columns: repeat(1, 230px);
        }
    }
}
@media (max-width: 576px) {
    .skills{
        &__container{
            width: 400px;
        }
        .skills__skills::before {
            left: 182px;
        }
    }
}
@media (max-width: 425px) {
    .skills{
        &__container{
            width: 100vw;
        }
    }
}